
/*-----Define core text tag styles and margins-----*/

html, body * {
    height:"100%";
	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		font-display: optional;
	}
}


.head {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	background-color: #333;
}

#navbar {
	overflow: hidden;
	width: 100%;
	background-color: #333;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	z-index:53;
}

#intro p{
	color: #FFFFFF;
}


#navbar a{
	color: #FFFFFF;
	padding-left: 1rem;
	padding-right: 1rem;
	text-decoration: none;
}

#navbar a:hover {
	color: grey;
}

.bottom {
	padding: 1rem 2rem 1rem 2rem;
	background-color: #333;
	color: #FFFFFF;
}

.bottom a:hover {
	color: grey;
}

/* last id offset by 1.5rem to account for navbar height */

#last, #mapwrap {
	padding-top: 2rem;
/*	margin-top: -2rem; */
}

/* Need to clean up the various input lines - use input:not[type=xxx] to exclude and standardise for rest */

input, button {
	color: #333;
	border-radius: 0.25rem;
	border: 2px solid #333;
	font-size: 0.75rem;
}
button {	
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: white;
}

button:hover {
	background-color: grey;
	color: white;
	cursor: pointer;
}

input[type=text] {
    margin: 0 0 0.5rem 0;
	padding: 0.5rem;
	width: 250px;
}

input[type=email] {
    margin: 0 0 0.5rem 0;
	padding: 0.5rem;
	width: 250px;
}

input[type=submit] {
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: white;
	width: 150px;
}

input:hover[type=submit] {
  background-color: grey;
  color: white;
  cursor: pointer;
}

input:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

.indicates-required {
	font-size: 0.75rem;
	padding-bottom: 0.25rem;
}

/* Sticky nav classes */

/* this wrap div keeps a placeholder height set at 2rem for when navbar sticks to prevent jank*/
#nav-wrap {
	height:2rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 52; /* z-index must be 1 higher than greatest used elsewhere - set for article divider at 2 */
}

.content {
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


/* Styling */

header, h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 2rem;
}

h2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size:1.25rem;
	color: grey;
}

h3 {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	font-size:1rem;
	font-style:italic;
}


p {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

ul {
	padding-left: 1rem;
}

ol {
	padding-left: 1rem;
}

a {
	text-decoration:underline;
	text-decoration-color: blue;
	text-decoration-thickness: .125rem;
	text-underline-offset: 1.5px;
}

.bottom a {
	text-decoration:none;
	color: white;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	background-color: white;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, grey, transparent);
}

.divider
{
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 1rem;
}


.grad {
  background-image: linear-gradient(to top, rgba(0,0,255,0), rgba(0,0,255,0.1));
}

/*-----Respomsive iframe stlying-----*/

.iframe-container {
    overflow: hidden;
    padding-top: 50%;  /* 50% corresponds to 2:1 aspect ratio*/
    position: relative;
    }
    
.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
    
    
/*-----Map styling-----*/

#map {
	height: 400px;
}
      
#mapwrap {
	height: 400px;
	position: relative;
}

#btnAsia {
	position: absolute;
	z-index: 52;
	top: 5.5rem;
	right: 0.5rem;
	margin-top: 2rem;
}

#btnOceania {
	position: absolute;
	z-index: 51;
	top: 3rem;
	right: 0.5rem;
	margin-top: 2rem;
}
      
#btnAmerica {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 50;
	margin-top: 2rem;
}

/*-----Main section for flexbox and grid article components-----*/

article * { grid-column: start / end; }

article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.size-1 { grid-column: 4 / 5; }
.size-2 { grid-column: 3 / 6; }
.size-3 { grid-column: 2 / 7; }
.size-4 { grid-column: 1 / 8; }
img.size-1, img.size-2, img.size-3, img.size-4 { width: 100%; }

img {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

/*----- Behaviour for smaller screen sizes-----*/

@media (max-width: 8.5in)
{
article
	{
	grid-template-columns: 1fr 5% [start] 15% 60% 15%[end] 5% 1fr;
	}
:root { font-size: 18px; }
}


@media (max-width: 5.0in) { :root { font-size: 16px; } }



/*-----Background classes-----*/

.back-image {
   /* flex: 1 0 auto; */
    background-image: url("../assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-color: black;
/*	position: fixed; */
}



/*-----Auxiliary page elements-----*/

.footer {
    font-size: 0.5rem;
    text-align: center;
	padding-bottom: 0.5rem;
	padding-top:0.5rem;
}